<a href="https://colab.research.google.com/github/ErickH3571/edd_1310_2021/blob/master/1Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Phython

### Variables

Tipo dinamico
"escuela = "Fes Aragon""

In [5]:
escuela = "Fes Aragon"
print(escuela)
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es una frase 
de multiples lineas
y tambien es un tipo de dato
"""
nombre = 'Jose'
nombre_completo = "Jose Pedro Cardenas"

Fes Aragon

# Print 
Se puede usar con comas,
con signo +,
con format()
y con el operador f""

In [6]:
#Ejemplo con coma
print(nombre, edad)

Jose 13

In [7]:
#Ejemplo concatena String
print(nombre+ str(edad)) #Se tiene que convertir a String

Jose13

In [9]:
# Con formato --> Su nombre es Jose y su edad es de 13 años
print("Su nombre es {0} y su edad es de {1} años".format(nombre, edad))
print("Su nombre es {1} y su edad es de {0} años".format(nombre, edad))

Su nombre es Jose y su edad es de 13 años
Su nombre es 13 y su edad es de Jose años

In [8]:
# Con formato operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es Jose y su edad es de 13 años

# Carácter de escape
\n salto de linea
\t tabulador
\a beep
\\* imprimir comilla doble
\\' imprimir comilla simple

In [10]:
"""
Comentario de 
multiple linea
siuuu
"""
print(f"\tMi nombre es \n\t \t {nombre}")

	Mi nombre es
	 	 Jose

## Ayuda tipo de datos en Phython
dir(), help()

In [ ]:
help(str)

In [15]:
print(nombre_completo.capitalize()) #Pone la primera en mayusculas  
print(nombre_completo.upper(), end= "------") #Pone todas las letras en mayusculas # end evita el salto de linea
print(nombre_completo.title()) #Pone la primera letra de cada palabra en mayuscula

Jose pedro cardenas
JOSE PEDRO CARDENAS------Jose Pedro Cardenas

# Clase String 
Es manejada como un arreglo (C o Java) o lista (Phython)
telefono = "Huawei Mate 30 Pro "

In [18]:
telefono = "Huawei Mate 30 Pro"
print(telefono[5])

i

# Slicing (Rebanado)
[ini: stop: incremento]

Nota: El stop no se incluye

In [25]:
print(telefono[7:11]) #Se tiene que poner uno más que de lo que es
print(telefono[:11:]) #El inicio e incremento son opcionales
print(telefono[::]) #El valor por defecto del stop es len(str)
print(telefono[::-1]) #invierte el string
print(telefono[-3::1]) #Imprime desde el otro lado

Mate
Huawei Mate
Huawei Mate 30 Pro
orP 03 etaM iewauH
Pro

#Metodos de String (str)
Existen metodos muy utiles en esta clase

In [37]:
facultad = "facultad de estudios superiores aragon"
print(facultad.count("u")) #Cuenta el numero de u en el string
print(facultad.find("s")) #Te dice en que posicion esta la letra s
print(facultad.strip()) # Quita los saltos de linea #rstrinp eliminar espacios en blanco a la derecha, lstrip a la izquierda
print(len(facultad))
print(facultad.split("t")) #Corta la cadena hasta donde esta la letra, y hace una lista
print(facultad.strip().split(" ")) #Solo agarra las palabras

3
13
facultad de estudios superiores aragon
38
['facul', 'ad de es', 'udios superiores aragon']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
facultad de estudios superiores aragon
FES Aragón

In [ ]:
#Copiando cadenas
otra_cadena = facultad 
facultad = "FES Aragón"
print(otra_cadena)
print(facultad)

In [ ]:
#Copiando listas
lista1 = ["rojo", "verde"]
lista2 = lista1.copy()
print(lista1)
print(lista2)
lista2.append("rosa")
print(lista1)
print(lista2)